@import 'style.css';

body {
    font-family: "Roboto", sans-serif;
    background-color: whitesmoke;
}

.label {
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    font-size: 1.5em;
    color: #303c6c;
}

button, .submitIngredient, .submitStep {
    border: 2px solid #d2fdff;
    color: #303c6c;
}

.submit {
    background-color: #303c6c;
    color: #d2fdff;
    font-size: 1.15em;
    }

#log-off {
    background-color: #303c6c;
    color: #d2fdff;
}