/* CSS for the page */

#body {
    font-family: "Roboto", sans-serif;
    background-image: url("../img/about_img.jpg");
    background-size: cover;
}


#header {
    color: #303c6c;
    font-weight: bold;
}