/* CSS for the page */

#body {
    background-color: #d2fdff;
    font-family: "Roboto", sans-serif;
}

#header {
    color: #303c6c;
    font-weight: bold;
}

.sign-in{
    background-color: #303c6c;
    color: #d2fdff; 