/* CSS for the page */

#body {
    font-family: "Roboto", sans-serif;
    background-image: url("../img/about_img.jpg");
    background-size: cover;
}


#header {
    color: #303c6c;
    font-weight: bold;
}

.about {
    background-color: #fbe8a6;
}

#sign-in {
    background-color: #303c6c;
    color: #d2fdff;
}