/* CSS for the page */

#body {
    background-color: #fbe8a6;
    font-family: "Roboto", sans-serif;
}

#header {
    color: #303c6c;
    font-weight: bold;
}

#login {
    background-image: url("../img/sushi.jpg");
    background-size: contain;
}

.form {
    background-color: white;
}

.sign-in{
    background-color: #303c6c;
    color: #d2fdff; 
}

.about {
    color: #303c6c; 
}