<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Menu</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body class="body">
    <header id="header" class="bg-white d-flex p-3 align-items-center shadow-sm mt-0">
        <h2 class="pr-5 mb-0"><a href="/home" class="home">Foodie Favs</a></h2>
        <a href="/home/new_recipe" class="new-recipe p-1 rounded ml-auto mr-2">+ Recipe</a>
        <a href="/home/{{user.id}}" class="icon rounded p-1">My Profile</a>
        <a href="/home/log_off" class="btn ml-2 p-1" id="log-off">Log Off</a>
    </header>
    <button id="topBtn" title="Go to top" class="btn rounded shadow">Top</button>
    <div class="pt-5"></div>
    <div class="w-50 shadow-sm mt-5 p-4 ml-auto mr-auto rounded recipe-card">
        <h2 class="text-center">This Week's Menu:</h2>
            <form action="/home/{{user.id}}/edit_menu" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="sunday">Sunday: </label>
                    <select name="sunday" id="sunday">
                        <option value="{{menu.sunday.id}}">{{menu.sunday.name}}</option>
                        {% for recipe in recipes %}
                        <option value="{{recipe.id}}">{{recipe.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="monday">Monday: </label>
                    <select name="monday" id="monday">
                        <option value="{{menu.monday.id}}">{{menu.monday.name}}</option>
                        {% for recipe in recipes %}
                        <option value="{{recipe.id}}">{{recipe.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="tuesday">Tuesday: </label>
                    <select name="tuesday" id="tuesday">
                        <option value="{{menu.tuesday.id}}">{{menu.tuesday.name}}</option>
                        {% for recipe in recipes %}
                        <option value="{{recipe.id}}">{{recipe.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="wednesday">Wednesday: </label>
                    <select name="wednesday" id="wednesday">
                        <option value="{{menu.wednesday.id}}">{{menu.wednesday.name}}</option>
                        {% for recipe in recipes %}
                        <option value="{{recipe.id}}">{{recipe.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="thursday">Thursday: </label>
                    <select name="thursday" id="thursday">
                        <option value="{{menu.thursday.id}}">{{menu.thursday.name}}</option>
                        {% for recipe in recipes %}
                        <option value="{{recipe.id}}">{{recipe.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="friday">Friday: </label>
                    <select name="friday" id="friday">
                        <option value="{{menu.friday.id}}">{{menu.friday.name}}</option>
                        {% for recipe in recipes %}
                        <option value="{{recipe.id}}">{{recipe.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 col-form-label" for="saturday">Saturday: </label>
                    <select name="saturday" id="saturday">
                        <option value="{{menu.saturday.id}}">{{menu.saturday.name}}</option>
                        {% for recipe in recipes %}
                        <option value="{{recipe.id}}">{{recipe.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <input type="hidden" name="menu_id" value="{{ menu.id }}">
                <input type="submit" name="submit" id="submit" value="Save Menu" class="save-menu btn">
            </form>
      
    </div>    
</body>
</html>