<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit {{recipe.name}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body>
    <header id="header" class="bg-white d-flex p-3 align-items-center shadow-sm mt-0">
        <h2 class="pr-5 mb-0"><a href="/home" class="home">Foodie Favs</a></h2>
        <a href="/home/new_recipe" class="new-recipe p-1 rounded ml-auto mr-2">+ Recipe</a>
        <a href="/home/{{user.id}}" class="icon rounded p-1">My Profile</a>
        <a href="/home/log_off" class="btn ml-2 p-1" id="log-off">Log Off</a>
    </header>
    <div class="pt-5"></div>
    <div class="w-50 shadow-sm mt-5 p-4 ml-auto mr-auto rounded">
        <h2 class="text-center">{{recipe.name}}</h2>
        <p class="mb-1">Added by: {{recipe.creator.first_name}} {{recipe.creator.last_name}}</p>
        <p>Last updated: {{recipe.updated_at}}</p>
        <form action="/home/edit" method="POST" id="edit-recipe-form">
            {% csrf_token %}
            <div class="form-group">
                <label class="label font-weight-bold" for="desc">Recipe Description:</label>
                <br>
                <textarea name="desc" id="desc" cols="30" rows="5" class="w-50">{{recipe.desc}}</textarea>
            </div>
            <div class="form-group">
                <label class="label font-weight-bold" for="ingredients">Ingredients:</label>
                <br>
                <textarea name="ingredients" id="ingredients" cols="30" rows="5" class="w-50">{{recipe.ingredients}}</textarea>
            </div>
            <div class="form-group">
                <label class="label font-weight-bold" for="steps">Steps:</label>
                <br>
                <textarea name="steps" id="steps" cols="30" rows="5" class="w-50">{{recipe.steps}}</textarea>
            </div>
            <div class="form-group">
                <label class="label font-weight-bold" for="source">Recipe From:</label>
                <br>
                <textarea name="source" id="source" cols="45" rows="1" class="w-50">{{recipe.source}}</textarea>
            </div>
            <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
            <input class="mt-3 edit-recipe rounded shadow-sm" type="submit" name="submit" id="submit" value="Update Recipe">
        </form>
    </div>
    
</body>
</html>