<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body id="body">
    <header id="header" class="bg-white d-flex p-3 align-items-center shadow-sm">
        <h2 class="pr-5 mb-0">Foodie Favs</h2>
        <a href="/home/{{user.id}}" class="icon ml-auto mb-0 text-center pt-2 rounded-circle">{{user.first_name}}</a>
        <a href="/home/log_off" class="btn ml-3 p-2" id="log-off">Log Off</a>
    </header>
    <h1 class="heading m-3">Recipies</h1>
    <div class="d-flex">
        {% for recipe in recipes %}
        <div class="recipe-card rounded shadow-sm w-25 p-3">
            <h3 class="recipe-header text-center">{{recipe.name}}</h3>
            <p>{{recipe.desc}}</p>
            <p>{{recipe.ingredients}}</p>
            <p>{{recipe.steps}}</p>
            {% if recipe.user.id == user.id %}
            <form action="/home/delete_recipe" method="POST">
                {% csrf_token %}
                <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                <input class="btn btn-danger p-1" type="submit" name="delete" value="Delete">
            </form>
            {% endif %}
        </div>
    {% endfor %}
    </div>
    
</body>

</html>