<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ message.subject }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
<body>
    <header id="header" class="bg-white d-flex p-3 align-items-center shadow-sm mt-0">
        <h2 class="pr-5 mb-0"><a href="/home" class="home">Foodie Favs</a></h2>
        <a href="/home/new_recipe" class="ml-auto btn-outline-secondary btn-lg p-1 pl-2 pr-2 rounded shadow-sm"
            data-toggle="tooltip" data-placement="bottom" title="New Recipe"><i class="fas fa-plus"></i></a>
        <a href="/home/{{user.id}}/inbox" class="ml-2 btn-outline-secondary btn-lg p-1 pl-2 pr-2 rounded shadow-sm"
        data-toggle="tooltip" data-placement="bottom" title="Inbox"><i class="far fa-envelope"></i></a>
        <a href="/home/{{user.id}}/settings" class="ml-2 btn-outline-secondary btn-lg p-1 pl-2 pr-2 rounded shadow-sm"
            data-toggle="tooltip" data-placement="bottom" title="Profile Settings"><i class="fas fa-cog"></i></a>
        <a href="/home/log_off" class="ml-2 btn-outline-secondary btn-lg p-1 pl-2 pr-2 rounded shadow-sm" data-toggle="tooltip"
            data-placement="bottom" title="Log Out"><i class="fas fa-sign-out-alt"></i></a>
    </header>
    <button id="topBtn" title="Go to top" class="btn rounded shadow">Top</button>
    <div class="pt-5"></div>
    <div class="w-50 ml-auto mr-auto card rounded shadow-sm p-3 mt-5 mb-5">
        <h3>{{ message.subject }}</h3>
        <p>From: {{ message.recipient.first_name }} {{ message.recipient.last_name }}</p>
        <p>Sent: {{ message.created_at }}</p>
        <p>{{ message.message }}</p>
        <h3 class="mt-2">Replies</h3>
        {% for reply in message.replies.all %}
            <p>From: {{ reply.sender.first_name }} {{ reply.sender.last_name }}</p>
            <p>Sent: {{ reply.created_at }}</p>
            <p>{{ reply.message }}</p>
        {% endfor %}
        <div id="replyMessage">
            <p id="messageId" hidden>{{ message.id }}</p>
            <p id="userId" hidden>{{ user.id }}</p>
            <p id="recipientId" hidden>{{ message.recipient.id }}</p>
            <p id="subject" hidden>{{ message.subject }}</p>
        </div>
        <button class="btn btn-lg submit rounded shadow-sm mr-auto" id="reply"><i class="fas fa-reply"></i></button>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"
        integrity="sha384-LtrjvnR4Twt/qOuYxE721u19sVFLVSA4hf/rRt6PrZTmiPltdZcI7q7PXQBYTKyf"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/181ad7b227.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>
</html>