<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.first_name}} {{user.last_name}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body id="body">
    <header id="header" class="bg-white d-flex p-3 align-items-center">
        <h2 class="mb-0">Foodie Favs</h2>
        <p class="icon ml-auto mb-0 text-center pt-2 rounded-circle">{{user.first_name}}</p>
    </header>
    <div class="d-flex mt-1">
        <div class="w-50">
            <h2 class="heading">This Week</h2>
            <div class="menu w-100 m-3 d-flex flex-column p-1 rounded">
                <div class="day-row d-flex justify-content-around p-1">
                    <div class="day">
                        <p>Sunday</p>
                    </div>
                    <div class="day">
                        <p>Monday</p>
                    </div>
                    <div class="day">
                        <p>Tuesday</p>
                    </div>
                </div>

                <div class="day-row d-flex justify-content-around p-1">
                    <div class="day">
                        <p>Wednesday</p>
                    </div>
                    <div class="day">
                        <p>Thursday</p>
                    </div>
                    <div class="day">
                        <p>Friday</p>
                    </div>
                </div>
                <div class="day-row d-flex justify-content-around p-1">
                    <div class="day">
                        <p>Saturday</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-25">
            <h2 class="heading">Recipies</h2>
            <div>

            </div>
        </div>
        <div class="w-25">
            <h2 class="heading">Shopping List</h2>
            <div class="shopping-list m-1 p-2 rounded">
                <form action="add_item" method="POST">
                    {% csrf_token %}
                    <input type="text" name="item" id="item" class="mb-1">
                    <input type="submit" name="submit" value="Add Item">
                </form>
            </div>
        </div>
    </div>
</body>


</html>