<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.first_name}} {{user.last_name}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/app.js' %}"></script>
</head>

<body id="body">
    <header id="header" class="bg-white d-flex p-3 align-items-center shadow-sm mt-0">
        <h2 class="pr-5 mb-0"><a href="/home" class="home">Foodie Favs</a></h2>
        <a href="/home/new_recipe" class="new-recipe p-1 rounded ml-auto mr-2">+ Recipe</a>
        <a href="/home/{{user.id}}/settings" class="icon rounded p-1">Settings</a>
        <a href="/home/log_off" class="btn ml-2 p-1" id="log-off">Log Off</a>
    </header>
    <button id="topBtn" title="Go to top" class="btn rounded shadow">Top</button>
    <div class="pt-5"></div>
    <div class="d-flex mt-5 pt-5">
        <div class="w-50">
            <div class="d-flex flex-column">
                <h2 class="heading">This Week</h2>
                {%if menu.editor.id == user.id %}
                <a class="btn view-recipe ml-auto mr-auto" href="/home/edit_menu{{menu.id}}">Edit Menu</a>
                {% else %}
                <a class="btn view-recipe ml-auto mr-auto" href="/home/menu">Create Menu</a>
                {% endif %}
            </div>
            <div class="menu w-100 m-3 d-flex flex-column p-1 rounded">
                <div class="day-row d-flex justify-content-around p-1">
                    <div class="day rounded shadow-sm d-flex flex-column">
                        <p class="font-weight-bold pt-2">Sunday</p>
                        <p class="w-75 ml-auto mr-auto">{{menu.sunday.name}}</p>
                        <a href="/home/recipe_{{menu.sunday.id}}" class="btn view-recipe w-50 ml-auto mr-auto">Recipe</a>
                    </div>
                    <div class="day rounded shadow-sm d-flex flex-column">
                        <p class="font-weight-bold pt-2">Monday</p>
                        <p class="w-75 ml-auto mr-auto">{{menu.monday.name}}</p>
                        <a href="/home/recipe_{{menu.monday.id}}" class="btn view-recipe w-50 ml-auto mr-auto">Recipe</a>
                    </div>
                    <div class="day rounded shadow-sm d-flex flex-column">
                        <p class="font-weight-bold pt-2">Tuesday</p>
                        <p class="w-75 ml-auto mr-auto">{{menu.monday.name}}</p>
                        <a href="/home/recipe_{{menu.monday.id}}" class="btn view-recipe w-50 ml-auto mr-auto">Recipe</a>
                    </div>
                </div>

                <div class="day-row d-flex justify-content-around p-1">
                    <div class="day rounded shadow-sm d-flex flex-column">
                        <p class="font-weight-bold pt-2">Wednesday</p>
                        <p class="w-75 ml-auto mr-auto">{{menu.wednesday.name}}</p>
                        <a href="/home/recipe_{{menu.wednesday.id}}" class="btn view-recipe w-50 ml-auto mr-auto">Recipe</a>
                    </div>
                    <div class="day rounded shadow-sm d-flex flex-column">
                        <p class="font-weight-bold pt-2">Thursday</p>
                        <p class="w-75 ml-auto mr-auto">{{menu.thursday.name}}</p>
                        <a href="/home/recipe_{{menu.thursday.id}}" class="btn view-recipe w-50 ml-auto mr-auto">Recipe</a>
                    </div>
                    <div class="day rounded shadow-sm d-flex flex-column">
                        <p class="font-weight-bold pt-2">Friday</p>
                        <p class="w-75 ml-auto mr-auto">{{menu.friday.name}}</p>
                        <a href="/home/recipe_{{menu.friday.id}}" class="btn view-recipe w-50 ml-auto mr-auto">Recipe</a>
                    </div>
                </div>
                <div class="day-row d-flex justify-content-around p-1">
                    <div class="day rounded shadow-sm d-flex flex-column">
                        <p class="font-weight-bold pt-2">Saturday</p>
                        <p class="w-75 ml-auto mr-auto">{{menu.saturday.name}}</p>
                        <a href="/home/recipe_{{menu.saturday.id}}" class="btn view-recipe w-50 ml-auto mr-auto">Recipe</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-25 d-flex flex-column align-items-center">
            <h2 class="heading ">Favorite Recipes</h2>
            <a href="/home/new_recipe" class="new-recipe p-1 rounded shadow-sm bg-white rounded">Add New Recipe</a>
            {% for recipe in user.favorite_recipes.all %}
            <div class="recipe-card rounded shadow-sm w-75 p-3 m-2">
                <p class="text-center"><a id="recipe-text" href="/home/recipe_{{recipe.id}}">{{recipe.name}}</a></p>
                <p>{{recipe.desc}}</p>
                {% for favorite_user in recipe.users_who_favorite.all %}
                <form action="/home/{{user.id}}/remove_favorite_profile" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="recipe_id" value="{{ recipe.id }}">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                    <input class="btn favorite ml-2 pt-1 pb-1" type="submit" name="add_fav" value="Remove">
                </form>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <div class="w-25">
            <h2 class="heading">Shopping List</h2>
            <div class="shopping-box mr-3">
                <div class="m-1 p-2 rounded" id="shopping-list">
                    <input type="hidden" value="/home/{{user.id}}/add_item" id="userId">
                    {% if messages %}
                    <ul class="messages mt-2">
                        {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <ul>
                        {% for item in shopping_list %}
                        {% if item.user.id == user.id %}
                        <div class="d-flex alin-items-start mb-2">
                            <li class="pt-2">{{item.item}}</li>
                            <form action="/home/{{user.id}}/delete_item" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="item_id" value="{{ item.id }}">
                                <input class="btn btn-danger p-1 m-2" type="submit" name="delete" value="Delete">
                            </form>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <button class="rounded btn-secondary m-3" id="addItem">Add Item</button>
            </div>
        </div>
    </div>
</body>


</html>