<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{user.first_name}} {{user.last_name}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body id="body">
    <header id="header" class="bg-white d-flex p-3 align-items-center shadow-sm mt-0">
        <h2 class="pr-5 mb-0"><a href="/home" class="home">Foodie Favs</a></h2>
        <a href="/home/new_recipe" class="new-recipe p-1 rounded ml-auto mr-2">+ Recipe</a>
        <a href="/home/{{user.id}}" class="icon rounded p-1">My Profile</a>
        <a href="/home/log_off" class="btn ml-2 p-1" id="log-off">Log Off</a>
    </header>
    <button id="topBtn" title="Go to top" class="btn rounded shadow">Top</button>
    <div class="pt-5"></div>
    <div class="d-flex mt-5 pt-5">
        <div class="w-50">
            <div class="d-flex flex-column">
                <h2 class="heading">This Week</h2>
                <a class="btn view-recipe ml-auto mr-auto" href="/home/edit_menu{{menu.id}}">Edit Menu</a>
            </div>
            <div class="menu w-100 m-3 d-flex flex-column p-1 rounded">
                <div class="day-row d-flex justify-content-around p-1">
                    <div class="day rounded shadow-sm">
                        <p class="font-weight-bold pt-2">Sunday</p>
                        <p class="w-75 ml-auto mr-auto">{{menu.sunday.name}}</p>
                        <a href="/home/recipe_{{menu.sunday.id}}" class="btn view-recipe">View Recipe</a>
                    </div>
                    <div class="day rounded shadow-sm">
                        <p class="font-weight-bold pt-2">Monday</p>
                        <p class="w-75 ml-auto mr-auto">{{menu.monday.name}}</p>
                        <a href="/home/recipe_{{menu.monday.id}}" class="btn view-recipe">View Recipe</a>
                    </div>
                    <div class="day rounded shadow-sm">
                        <p class="font-weight-bold pt-2">Tuesday</p>
                        <p class="w-75 ml-auto mr-auto">{{menu.monday.name}}</p>
                        <a href="/home/recipe_{{menu.monday.id}}" class="btn view-recipe">View Recipe</a>
                    </div>
                </div>

                <div class="day-row d-flex justify-content-around p-1">
                    <div class="day rounded shadow-sm">
                        <p class="font-weight-bold pt-2">Wednesday</p>
                        <p class="w-75 ml-auto mr-auto">{{menu.wednesday.name}}</p>
                        <a href="/home/recipe_{{menu.wednesday.id}}" class="btn view-recipe">View Recipe</a>
                    </div>
                    <div class="day rounded shadow-sm">
                        <p class="font-weight-bold pt-2">Thursday</p>
                        <p class="w-75 ml-auto mr-auto">{{menu.thursday.name}}</p>
                        <a href="/home/recipe_{{menu.thursday.id}}" class="btn view-recipe">View Recipe</a>
                    </div>
                    <div class="day rounded shadow-sm">
                        <p class="font-weight-bold pt-2">Friday</p>
                        <p  class="w-75 ml-auto mr-auto">{{menu.friday.name}}</p>
                        <a href="/home/recipe_{{menu.friday.id}}" class="btn view-recipe">View Recipe</a>
                    </div>
                </div>
                <div class="day-row d-flex justify-content-around p-1">
                    <div class="day rounded shadow-sm">
                        <p class="font-weight-bold pt-2">Saturday</p>
                        <p class="w-75 ml-auto mr-auto">{{menu.saturday.name}}</p>
                        <a href="/home/recipe_{{menu.saturday.id}}" class="btn view-recipe">View Recipe</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-25 d-flex flex-column align-items-center">
            <h2 class="heading ">Favorite Recipies</h2>
            <a href="/home/new_recipe" class="new-recipe p-1 rounded shadow-sm bg-white rounded">Add New Recipe</a>
            {% for recipe in user.favorite_recipes.all %}
                <div class="recipe-card rounded shadow-sm w-75 p-3 m-2">
                    <p class= "text-center"><a id="recipe-text" href="/home/recipe_{{recipe.id}}">{{recipe.name}}</a></p>
                    <p>{{recipe.desc}}</p>
                </div>
            {% endfor %}
        </div>
        <div class="w-25">
            <h2 class="heading">Shopping List</h2>
            <div class="shopping-list m-1 p-2 rounded">
                <form action="add_item" method="POST">
                    {% csrf_token %}
                    <div id="shopping-list">

                    </div>
                    <input id="add-item" type="submit" name="submit" value="Add Item">
                </form>
            </div>
        </div>
    </div>
</body>


</html>