<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodie Favs</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/foodie_favs.css' %}">
</head>

<body id="body">
    <header id="header" class="bg-white d-flex p-3 align-items-center">
        <h2 class="pr-5 mb-0">Foodie Favs</h2>
        <a href="/login" class="btn btn-lg ml-auto" id="sign-in">Sign In</a>
    </header>
    <div class="m-5 p-5"></div>
    <div class="about w-75 d-flex ml-auto mr-auto p-5">
        <div class="w-25 text-center m-2 p-2">
            <h4>Online Recipe Book</h4>
            <p>Keep all your recipies in one convenient, online place.</p>
        </div>
        <div class="w-25 text-center m-2 p-2">
            <h4>Meal Plan</h4>
            <p>Use the menu feature to plan your meals for the week.</p>
        </div>
        <div class="w-25 text-center m-2 p-2">
            <h4>Shopping List</h4>
            <p>Add items to your shopping list while you plan your meals.</p>
        </div>
        <div class="w-25 text-center m-2 p-2">
            <h4>Favorite Recipes</h4>
            <p>Favorite your frequently used recipies to keep them at the top of your mind.</p>
        </div>
    </div>
</body>

</html>