/* CSS for the page */

#body {
    background-color: #EAD6CD;
    font-family: "Roboto", sans-serif;
}

#header {
    color: #394F8A;
    font-weight: bold;
}

#login {
    background-color: #E1FCFD;
}

.form {
    background-color: white;
}

.sign-in{
    background-color: #394F8A;
    color: #E1FCFD; 
}

.about {
    color: #E1FCFD; 
}